<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Hello World!</h1>

<!-- 예제 페이지 이동 버튼 -->
<div>
    <button onclick="location.href='/task'">Task 페이지</button>
    <button onclick="location.href='/project'">Project 페이지</button>
    <button onclick="location.href='/login'">Login 페이지</button>
</div>

<!-- 연결 종료 버튼 -->
<div style="margin-top: 20px;">
    <button id="disconnectButton">연결 종료</button>
</div>

<script>
    // 예제용 리턴 버튼. 연결 종료 메시지 리턴
    const disconnectButton = document.getElementById('disconnectButton');
    disconnectButton.addEventListener('click', () => {
        fetch('/disconnect')
            .then(response => response.text())
            .then(message => {
                alert(message);
            })
            .catch(error => console.error('Error :', error));
    });
</script>
</body>
</html>